.navbar-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F3F4;
  padding: 0 5vw;
  font-weight: bold;
}

.codea-logo {
  color: #7B42F6;
  text-underline-offset: 0.5rem;
  transition: color 0.3s ease, text-underline-offset 0.3s ease;
}

.codea-logo:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  color: #e69520;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  place-self: end;
}

.nav-item {
  color: #7B42F6;
  text-decoration: none;
  font-weight: bold;
  list-style-type: none;
  transition: color 0.3s ease, text-underline-offset 0.3s ease;
}

.nav-item:hover {
  color: #e69520;
}